body {
    background-color: rgb(5, 39, 31);
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    text-align: center;
}

li {
    text-align: left;

}

ul{
    background-color: rgb(1, 24, 17);
}